# IMPORTING MODULES

In [1]:
# importing pandas module
import pandas as pd

# importing matplotlib module
import matplotlib.pyplot as plt

# importing numpy module
import numpy as np

print("\nAll the modules are loaded successfully")

All the modules are loaded successfully

# CREATING DATA FRAMES

In [2]:
# making data frame
intake = pd.read_csv("DataSet_Animal_Center_Intakes.csv")
outcomes = pd.read_csv("DataSet_Animal_Center_Outcomes.csv")

print("\nCreated DataFrames Successfully")

Created DataFrames Successfully

# Project Task-01: Print the shape of the dataset

In [3]:
# dataframe.shape
shape_intake = intake.shape
shape_outcomes = outcomes.shape
  
# printing shape
print("\nShape of intake data set = {}".format(shape_intake))
print("Shape of outcomes data set = {}".format(shape_outcomes))

Shape of intake data set = (124120, 12)
Shape of outcomes data set = (124491, 12)

# Project Task-02: Which column has null values?

In [4]:
print("\nColumns which have null values in intake dataset:")
null_intake = intake.isnull().sum()
print(null_intake[null_intake>0])
print("\n\n---------------------------------------------------------\n\n")
print("Columns which have null values in outcome dataset:")
null_outcomes = outcomes.isnull().sum()
print(null_outcomes[null_outcomes>0])

Columns which have null values in intake dataset:
Name               39051
Sex upon Intake        1
dtype: int64


---------------------------------------------------------


Columns which have null values in outcome dataset:
Name                39025
Outcome Type           20
Outcome Subtype     67183
Sex upon Outcome        1
Age upon Outcome        5
dtype: int64

# Project Task-03: Remove the duplicate rows from intake dataset.

In [5]:
shape_intake = intake.shape
print("\nShape of intake data set before removing duplicate rows = {}".format(shape_intake))

print("---------------------------------------------------------------------------------------")

# making dataset and applying drop_duplicates() method to delete duplicates
drop_intake = intake.drop_duplicates()

# printing remaining data after droping duplicates
print("\n\nRemaining data:")
drop_intake

Shape of intake data set before removing duplicate rows = (124120, 12)
---------------------------------------------------------------------------------------


Remaining data:

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
124115,A828158,Odin,01/08/2021 07:01:00 PM,01/08/2021 07:01:00 PM,2224 E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,10 months,Rottweiler Mix,Black/Tan
124116,A830183,NaN,03/03/2021 05:12:00 PM,03/03/2021 05:12:00 PM,6802 Bryonwood Drive in Austin (TX),Stray,Medical,Dog,Intact Female,1 month,Chihuahua Shorthair,White
124117,A830180,Gigi,03/03/2021 04:31:00 PM,03/03/2021 04:31:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,9 years,Australian Cattle Dog/Belgian Malinois,Brown Brindle/White
124118,A830171,NaN,03/03/2021 05:13:00 PM,03/03/2021 05:13:00 PM,1310 West Howard Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Plott Hound Mix,Brown Brindle/White
124119,A830181,Nona,03/03/2021 04:31:00 PM,03/03/2021 04:31:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,4 years,Domestic Shorthair Mix,White/Black

# Project Task-04: Rename to column names as follows:-
1) 'Old Column Name' = 'New Column Name'
2) 'Animal ID' = 'id',
3) 'DateTime' = 'date_time',
4) 'MonthYear' = 'month_year',
5) 'Found Location' = 'found_location',
6) 'Intake Type' = 'intake_type',
7) 'Intake Condition' = 'intake_condition',
8) 'Animal Type' = 'animal_type',
9) 'Sex upon Intake' = 'sex_upon_intake',
10) 'Age upon Intake' = 'age_upon_intake',
11) 'Breed' = 'breed'

In [6]:
# renaming the columns given above by using rename() function
intake.rename(columns = {'Animal ID' : 'id'}, inplace=True)
intake.rename(columns = {'DateTime' : 'date_time'}, inplace=True)
intake.rename(columns = {'MonthYear' : 'month_year'}, inplace=True)
intake.rename(columns = {'Found Location' : 'found_location'}, inplace=True)
intake.rename(columns = {'Intake Type' : 'intake_type'}, inplace=True)
intake.rename(columns = {'Intake Condition' : 'intake_condition'}, inplace=True)
intake.rename(columns = {'Animal Type' : 'animal_type'}, inplace=True)
intake.rename(columns = {'Sex upon Intake' : 'sex_upon_intake'}, inplace=True)
intake.rename(columns = {'Age upon Intake' : 'age_upon_intake'}, inplace=True)
intake.rename(columns = {'Breed' : 'breed'}, inplace=True)

# printing dataframe after renaming columns
print("\nDataframe after renaming columns:")
intake
intake.head()

Dataframe after renaming columns:

,id,Name,date_time,month_year,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

# Project Task-05: Remove Monthyear column because it is similar to Datetime column.

In [7]:
# removing Monthyear(month_year) column from intake dataframe using drop() function
# we will mention Monthyear column name as month_year because previously we changed the column name
intake.drop(['month_year'], axis=1).head()

,id,Name,date_time,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [8]:
# removing Monthyear column from outcomes dataframe using drop() function
outcomes.drop(['MonthYear'], axis=1).head()

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

# Project Task-06: Extracting month and year from Datetime column

In [9]:
# Using pandas.DatetimeIndex() to extract month and year
intake['month'] = pd.DatetimeIndex(intake['date_time']).month
intake['year'] = pd.DatetimeIndex(intake['date_time']).year
intake.head()

,id,Name,date_time,month_year,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,Color,month,year
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,1,2019
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,7,2015
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,4,2016
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,10,2013
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,6,2014

In [10]:
# Using pandas.DatetimeIndex() to extract month and year
outcomes['month'] = pd.DatetimeIndex(outcomes['DateTime']).month
outcomes['year'] = pd.DatetimeIndex(outcomes['DateTime']).year
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,month,year
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,5,2019
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,7,2018
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,8,2020
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,2,2016
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,3,2014

# Project Task-07: Which month,year has most animal intakes ? Draw a pie chart representing year wise animal intake from year 2014 to 2021

In [ ]:
intake['date_time'] = pd.to_datetime(intake['date_time'])
intake['month'] = pd.DatetimeIndex(intake['date_time']).month
intake['year'] = pd.DatetimeIndex(intake['date_time']).year

total = intake.groupby(['month','year']).size().reset_index(name = 'Intake_count')

max_row = total.loc[total['Intake_count'].idxmax()]

max_month = max_row['month']
max_year = max_row['year']
intake_count = max_row['Intake_count']

print("\nThe month with the most intakes: ", max_month)
print("The year with the most intakes: ", max_year,"\n")

print("--------------------------------------------------------------------------------------\n")

years_range = range(2014, 2022)
intakes_by_year = intake.groupby('year')['id'].count().loc[years_range]

plt.figure(figsize = (8,6))
plt.pie(intakes_by_year, labels = intakes_by_year.index, autopct = '%1.1f%%', startangle = 140)
plt.title("Year-Wise Animal Intake (2014 to 2021)\n")
plt.axis('equal')
plt.show()

# Project Task-08: Create a bar chart to represent month wise animal intake. Which month has highest animal intake?

In [ ]:
# Group data by month and calculate the intake count for each month
monthly_intake_count = intake['month'].value_counts()
intake['month'] = pd.DatetimeIndex(intake['date_time']).month

total = intake.groupby(['month']).size().reset_index(name = 'Intake_count')
max_row = total.loc[total['Intake_count'].idxmax()]
max_month = max_row['month']
print("\nThe month with highest animal intakes: ", max_month, "\n")

print("------------------------------------------------------------------------------------------------------------------\n")

# Create a bar chart
plt.figure(figsize=(10, 6))
plt.bar(monthly_intake_count.index, monthly_intake_count.values, color='b')

# Set chart title and labels
plt.title('Month-wise Animal Intake')
plt.xlabel('Month')
plt.ylabel('Number of Animals')

# Display the chart
plt.xticks(monthly_intake_count.index)
plt.show()

# Project Task-09: Create a bar chart to represent animal intake methods wise counting. What are the animal intake methods ? Print their names?

In [ ]:
# Group data by intake type and calculate the intake count for each intake type
intake_methods_count = intake['intake_type'].value_counts()

# To create a bar chart
plt.figure(figsize=(10, 6))
plt.bar(intake_methods_count.index, intake_methods_count.values, color='g')

# To set chart title and labels
plt.title('Animal Intake Method-Wise Count')
plt.xlabel('Intake Method')
plt.ylabel('Number of Animals')

# To display the chart
plt.xticks(rotation=45)
plt.show()

print("\n---------------------------------------------------------------------------------------------------------------------")

# printing animal intake methods
print("\n\nANIMAL INTAKE METHODS:")
print(intake_methods_count.index.tolist())

# Project Task-10: What are the conditions of animals which are taken into the shelter?

In [ ]:
print("\n\nANIMAL CONDITIONS WHICH ARE TAKEN INTO SHELTER:")
condition_count = intake['intake_condition'].value_counts()

conditions_count = intake['intake_condition'].value_counts()
print(conditions_count.index.tolist())

# Project Task-11: How many types of animals are taken into shelter and what is their total count?

In [ ]:
print("\n\nTYPES OF ANIMALS TAKEN INTO SHELTER:")
animal_types = intake['animal_type'].unique()

for types in animal_types:
    print(types)

print("\n\n-------------------------------------------------")

print("\n\nTOTAL COUNT:")
type_counts = intake['animal_type'].value_counts()
print(type_counts)

# Project Task-12: what are the top 10 breeds in the animal shelter? Draw a breed wise bar plot.

In [ ]:
breed_counts = intake['breed'].value_counts()

top_breeds = breed_counts.head(10)

print("\nTop 10 breeds in the animal shelter:\n")
print(top_breeds)

print("\n-------------------------------------------------------------------------------------------------------------------------------\n")

plt.figure(figsize=(12, 6))
top_breeds.plot(kind='bar', color='purple', alpha=0.7)
plt.xlabel('\nName of Breed')
plt.ylabel('Number\n')
plt.title('Top 10 Breeds in the Animal Shelter')
plt.xticks(rotation=40, ha='right')
plt.tight_layout()
plt.show()

# Project Task-13: What are top 20 common names of animals in animal shelter? Draw a bar chart representing name wise count of the animals.

In [ ]:
# printing top 20 common names of animals in animal shelter
name_counts = intake['Name'].value_counts()
top_20 = name_counts.head(21)
print("\nTop 20 common names of animals in shelter:")
print(top_20)

print("\n-------------------------------------------------------------------------------------------------------------------------\n")

# creating bar chart representing name-wise count of the animals
plt.figure(figsize=(12, 6))
top_20.plot(kind='bar', color='green', alpha=0.7)
plt.xlabel('Name of bread')
plt.ylabel('Count of breed')
plt.title('Top 20 Common Names of Animals in the Animal Shelter')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

# Project Task-14: Draw a bar char representing the "Outcome Type" wise count of animals using the dataset of Animal_Center_Outcomes.csv

In [ ]:
animal_outcomes = pd.read_csv('DataSet_Animal_Center_Outcomes.csv')
print("\n")
outcome_counts = animal_outcomes['Outcome Type'].value_counts()
plt.figure(figsize=(12, 6))
outcome_counts.plot(kind='bar', color='lightpink', alpha=0.7)
plt.xlabel('\nOutcome Type')
plt.ylabel('Count\n')
plt.title(' Count of Animals')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()